/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    // Help prevent overflow of long words/names/URLs
    word-break: break-word;

    // Optional, not supported for all languages
    hyphens: auto;
}

html,
body {
    overflow-x: hidden;
}

html {
    font-size: $base;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: var(--font-main), SourceSansPro, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 400;
    color: var(--color-text-body);
    line-height: normal;
    background-color: var(--body-bg-color);
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .4em;
    font-size: 1.15rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html {
        scroll-behavior: initial;
    }
}
