.card {
    --flex-dir: column;
    --gap: 34px;
    --border-radius: 8px;

    display: flex;
    flex-direction: var(--flex-dir);
    gap: var(--gap);
    color: var(--color-text-body);
    background-color: #FFFFFF;
    border: 1px solid var(--color-grey);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius);
    padding: 20px 16px;
    overflow: hidden;

    &-img {
        width: getMinMax(20px, 32px);
        height: getMinMax(20px, 32px);
    }

    &-body {
        flex: 1;
    }

    &-title,
    &-desc,
    &-body {
        @include truncate();
    }

    &-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:after{
            display: block;
            width: calc(16 / 14)*1em;
            height: calc(16 / 14)*1em;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 8.5H13.5' stroke='%235EB700' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 4L13.5 8.5L9 13' stroke='%235EB700' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    strong {
        font-weight: 500;
    }
}

.card-account {
    --flex-dir: row;

    min-height: 104px;
    align-items: center;
    padding: getMinMax(16px, 24px);

    &-del {
        appearance: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .card {
        &-img {
            flex: 0 0 40px;
            height: auto;
        }

        &-title {
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.card-ticket {
    --flex-dir: raw;
    --gap: #{getMinMax(8px, 16px)};

    padding: 16px;

    .card {
        &-img {
            flex: 0 0 min(21%, 120px);
            width: auto;
            height: auto;
        }

        &-body {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4px;

            .tag {
                grid-column: 2;
                grid-row: 1;
            }
        }

        &-link {
            grid-column: 1/3;
            grid-row: 3;
            margin-left: auto;
        }
    }
}

@include less-sm() {
    .card-minimal {
        --flex-dir: row;
        --gap: 8px;
        --border-radius: 0;

        align-items: center;
        padding: 16px 0;
        border-top: none;
        border-right: none;
        border-left: none;
        box-shadow: none;

        .card {
            &-title {
                font-size: getMinMax(16px, 20px);
                font-weight: 400;
                margin-bottom: 0;
            }

            &-desc {
                display: none;
            }
        }
    }
    .card-account {
        min-height: getMinMax(130px, 130px);
    }
}

@include less-xs() {
    .card-ticket {
        .card {
            &-img {
                display: none;
            }

            &-body {
                display: flex;
                flex-direction: column;

                .tag {
                    order: -1;
                }
            }

            &-link {
                margin-left: 0;
            }
        }
    }
}
