.dropdown {
    --btn-height: 24px;
    --btn-width: 24px;
    position: relative;

    &-toggle {
        width: var(--btn-width);
        height: var(--btn-height);
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &-menu {
        display: none;
        position: absolute;
        transform: translate3d(0px, var(--btn-height), 0px);
        top: 0px;
        right: 0px;
        will-change: transform;
        background: #FFFFFF;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        padding: 16px 20px;

        &.dropdown-show {
            display: block;
        }
    }

    &-item {
        display: flex;
        gap: 10px;
        color: #404A5A;
        line-height: calc(21/14)*1em;
    }
}
