.filter {
    padding-top: getMinMax(12px, 13px);
    padding-bottom: getMinMax(12px, 13px);

    &-form {
        --width: 100%;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        & > .form-fieldset {
            display: grid;
            grid-template-columns: 1fr 205px 205px;
        }
    }

    &-btn {
        @include input-field();
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-modal {
        .modal {
            &-header {
                text-align: center;
                padding-bottom: getMinMax(10px, 20px);
            }

            &-content {
                padding-top: getMinMax(10px, 20px);
            }
        }
    }

    input {
        font-weight: 400;
    }

    @include less-sm() {
        &-form {
            --width: 100%;
            background-color: transparent;
            box-shadow: none;
            padding: 0;

            & > .form-fieldset {
                grid-template-columns: 1fr 48px;
            }
        }
    }
}
