@import "./input";

.form {
    $font-size: 16px;
    --gap: 24px;
    --width: 524px;
    --footer-min-height: 120px;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: min(100%, var(--width));
    padding-bottom: var(--footer-min-height);

    .container-sm & {
        width: min(getvw($base-viewport-mobile - ($base-container-margin-x-sm * 2)), var(--width));

        @include less-sm() {
            width: 100%;
        }
    }

    &-fieldset {
        --column-width: 250px;
        --gap: 24px;

        &+.form-fieldset {
            border-top: 1px solid #D8D8D8;
            padding-top: var(--gap);
        }
    }

    &-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #FFFFFF;

        .container {
            --gap: 16px;
            flex-wrap: wrap;
            min-height: var(--footer-min-height);
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: var(--gap);
            padding-top: var(--gap);
            padding-bottom: var(--gap);

        }
    }

    textarea {
        resize: vertical;
    }

    select {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.175 6.53345L10 10.3501L13.825 6.53345L15 7.70845L10 12.7084L5 7.70845L6.175 6.53345Z' fill='%23C2C9D1'/%3E%3Cpath d='M6.175 6.53345L10 10.3501L13.825 6.53345L15 7.70845L10 12.7084L5 7.70845L6.175 6.53345Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
        background-position: calc(100% - 8px) center;
        background-repeat: no-repeat;
        appearance: none;
    }

    @include less-sm() {
        --footer-min-height: 75px;

        &-group {
            grid-template-columns: auto;

            button,
            input {
                flex: 0 0 100%;
            }
        }

        &-footer {
            button {
                width: 100%;
            }
        }
    }
}

.form-api {
    --gap: 10px;
    --width: 764px;
    --footer-min-height: 0;

    background-color: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 32px 16px;
    margin-left: auto;
    margin-right: auto;

    .form-fieldset {
        --gap: 16px;

        display: flex;
        gap: var(--gap);

        &>* {
            flex: 1;
        }

        &>.has-input {
            flex: 5;
        }
    }

    .form-input-icon {
        right: auto;
        left: getMinMax(14px, 14px);
    }

    input {
        font-weight: 500;
        background-color: var(--color-grey);
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 40px;
    }

    @include less-sm() {
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;

        .form-fieldset {
            flex-direction: column;
        }
    }
}