.form {
    $font-size: 16px;
    --gap: 32px;
    --width: 524px;
    --footer-min-height: 120px;

    width: min(100%, var(--width));
    padding-bottom: var(--footer-min-height);

    .container-sm & {
        width: min(getvw($base-viewport-mobile - ($base-container-margin-x-sm * 2)), var(--width));

        @include less-sm() {
            width: 100%;
        }
    }

    &-fieldset {
        --column-width: 250px;
        --gap: 24px;
    }

    &-label {
        color: var(--color-text-body);
        font-family: var(--font-main);
        font-style: normal;
        font-weight: 500;
        font-size: calc(14px/$base)*1em;
        line-height: calc(16px/$base)*1em;
    }

    &-input {
        position: relative;
        font-size: $font-size;

        &-icon {
            position: absolute;
            top: 50%;
            right: calc(10px/$font-size)*1em;
            transform: translate(0, -50%);
            width: calc(20px/$font-size)*1em;
            height: calc(20px/$font-size)*1em;
            z-index: 10;
        }

        &-field {
            @include input-field();
            @include input-placeholder {
                color: var(--color-text-body);
            }


            &:focus:invalid {
                border-color: var(--color-error);

                & ~ .error-msg {
                    display: block;
                }

                & ~ .form-input-icon path {
                    fill: var(--color-error);
                }
            }
        }

        .error-msg {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
            display: none;
            color: var(--color-error);
            font-family: inherit;
            font-size: calc(12px / $font-size) * 1em;
            margin-top: 12px;
        }
    }

    &-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #FFFFFF;

        .container {
            min-height: var(--footer-min-height);
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
    }

    textarea {
        resize: vertical;
    }

    select {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.175 6.53345L10 10.3501L13.825 6.53345L15 7.70845L10 12.7084L5 7.70845L6.175 6.53345Z' fill='%23C2C9D1'/%3E%3Cpath d='M6.175 6.53345L10 10.3501L13.825 6.53345L15 7.70845L10 12.7084L5 7.70845L6.175 6.53345Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
        background-position: calc(100% - 8px) center;
        background-repeat: no-repeat;
        appearance: none;
    }

    @include less-sm() {
        --footer-min-height: 75px;

        &-group {
            grid-template-columns: auto;

            button,
            input {
                flex: 0 0 100%;
            }
        }
    }
}
