.tabs {
    &-navbar {
        padding-top: getMinMax(24px, 40px);
        padding-bottom: 5px;
    }

    &-content {
        position: relative;
    }

    &-panel {
        &-grid {
            --gap: #{getMinMax(24px, 32px)};
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        flex: 1;
        max-width: 240px;
    }

    &-link {
        --color: #CBD5E1;
        $font-size: 14px;

        min-height: calc(37px/$font-size)*1em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color);
        font-family: var(--font-main);
        font-weight: 500;
        font-size: getMinMax(14px, $font-size);
        line-height: 1;
        letter-spacing: 0.0125em;
        text-transform: uppercase;
        padding: calc(8px/$font-size)*1em;
        border-bottom: 2px solid var(--color);
        transition: all 180ms ease-in-out;

        &-active,
        &:active,
        &:hover,
        &:focus {
            --color: var(--color-orange);
        }
    }
}

@include less-sm() {
    .tabs {
        &-content {
            padding-left: getMinMax($base-container-margin-x-sm, $base-container-margin-x);
            padding-right: getMinMax($base-container-margin-x-sm, $base-container-margin-x);
        }

        &-item {
            max-width: 100%;
        }

        &-link {
            text-transform: capitalize;
        }

        .container {
            width: 100%;
        }

        .breadcrumbs {
            display: none;
        }

        .section-content {
            padding-top: 0;
        }
    }
}
