.table {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: getMinMax(14px, 16px);
    overflow: hidden;

    &-head,
    &-row {
        --column-width: 0px;
        --gap: 0;
        border-radius: 8px;
    }

    &-head {
        font-weight: 600;
        background-color: var(--color-grey);
        margin-bottom: getMinMax(16px, 16px);

        .table-cell {
            padding-top: getMinMax(10px, 24px);
            padding-bottom: getMinMax(10px, 24px);
        }
    }

    &-row {
        font-weight: 400;
        background: #FFFFFF;
        border: 1px solid #F1F5F9;

        & + * {
            margin-top: getMinMax(8px, 8px);
        }
    }

    &-cell {
        padding: getMinMax(10px, 16px);
        word-break: break-word;
        hyphens: auto;

        &:first-child {
            padding-left: getMinMax(10px, 24px);
        }

        &:last-child {
            padding-right: getMinMax(10px, 24px);
        }
    }

    @include less-sm() {
        &-head,
        &-row {
            font-weight: 400;
            border-radius: 1px;
            border: none;
            margin-bottom: 0;

            .table-cell {
                display: none;

                &:nth-child(-n+4) {
                    display: block;
                }
            }
        }
        &-head {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-row {
            &:nth-child(even) {
                background-color: var(--color-grey);
            }

            & + * {
                margin-top: 0;
            }
        }
    }
}

.table-commission {
    .table-row {
        &:nth-child(1),
        &:nth-child(2) {
            font-weight: 600;
        }

        &:nth-child(2) {
            color: var(--color-green);
            background-color: rgba(94, 183, 0, 0.2);
        }
    }
}
