.tag {
    $font-size: 14px;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: $font-size;
    color: var(--color);
    background-color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.0125em;
    text-transform: uppercase;

    &[class*="tag-"] {
        height: calc(29px/$font-size)*1em;
        padding-left: calc(8px/$font-size)*1em;
        padding-right: calc(8px/$font-size)*1em;
        border-radius: 8px;
    }

    &-primary {
        --color: var(--color-green);
        --bg-color: rgba(180, 213, 146, 0.6);
    }

    &-secondary {
        --color: var(--color-orange);
        --bg-color: rgba(255, 124, 0, 0.2);
    }

    &-default {
        --color: rgba(22, 23, 48, 0.5);
        --bg-color: var(--color-grey);
    }
}
