<nav class="nav desktop-nav qkt-visible-sm qkt-align-items-center">
    <span class="qkt-mobile-menu"></span>
    <img src="/assets/images/icons/logo.svg" class="qkt-logo"/>
    <div class="qkt-search qkt-ml-auto">
                <span>
                    <i class="icon-qkt-search"></i>
                </span>
        <input type="text" class="qkt-search" placholder="Search"/>
    </div>
    <ul>
        <li>
            <a href="#" class="qkt-flex">
                <span>Products</span>
                <i class="icon-qkt-chevron-down"></i>
            </a>
            <ul>
                <li><a href="ticketing.html">Ticketing</a></li>
                <li><a href="virtual-events.html">Online Event</a></li>
                <li><a href="fundraisers.html">Fundraisers</a></li>
                <li><a href="subscriptions.html">Subscriptions</a></li>
            </ul>
        </li>
        <li><a href="#"></a>Help</a></li>
        <li><a href="#"></a>Browse Events</a></li>
    </ul>
    <span><button class="qkt-cta-button qkt-btn-green">LOGIN</button></span>
</nav>
<nav class="qkt-mobile-nav qkt-hidden-sm">
    <div id="qkt-mobile-nav" class="qkt-mobile-nav qkt-flex qkt-m-4 qkt-mr-3 qkt-ml-3 qkt-align-items-center">
        <span class="icon-qkt-menu hideSearch qkt-pointer" data-toggle-class="menuXpanded" data-target="qkt-mobile-nav"
              style="font-size: 1.5rem"></span>
        <span class="qkt-flex-grow-1 hideSearch hideMenu">
                    <img class="logo" src="/assets/images/icons/logo.svg">
                </span>
        <span class="qkt-flex qkt-align-items-center">
                    <i class="icon-qkt-search hideSearch qkt-pointer" data-toggle-class="searchXpanded"
                       data-target="qkt-mobile-nav" style="font-size: 1.5rem"></i>
                    <div class="qkt-search qkt-ml-auto showSearch" style="display:none">
                        <span>
                            <i class="icon-qkt-search"></i>
                        </span>
                        <input type="text" class="qkt-search" placholder="Search"/>
                    </div>

                    <i class="icon-qkt-cross showSearch qkt-pointer" data-toggle-class="searchXpanded"
                       data-target="qkt-mobile-nav"></i>
                </span>
        <div class="showMenu"
             style="display:none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,.75);z-index: 10"></div>
        <div class="mobileNav showMenu qkt-flex-column qkt-pt-4 qkt-pl-2 qkt-pr-2"
             style="display: none; max-width: 310px; z-index: 20">
            <div class="qkt-flex qkt-justify-content-between qkt-align-items-center">
                        <span class="flex-grow-1">
                            <img class="logo" src="/assets/images/icons/logo.svg">
                        </span>
                <i class="icon-qkt-cross qkt-pointer qkt-pr-2" data-toggle-class="menuXpanded" style="font-size: 1.5rem"
                   data-target="qkt-mobile-nav"></i>
            </div>
            <ul class="qkt-mb-5">
                <li class="submenu" id="qkt-mobile-home" data-toggle-class="active" data-target="qkt-mobile-home">
                    <span class="qkt-flex qkt-justify-content-between">Home <i
                                class="icon-qkt-chevron-down qkt-p-1"></i></span>
                </li>
                <li class="submenu" id="qkt-mobile-solutions" data-toggle-class="active"
                    data-target="qkt-mobile-solutions">
                    <span class="qkt-flex qkt-justify-content-between">Solutions <i
                                class="icon-qkt-chevron-down qkt-p-1"></i></span>
                </li>
                <li class="submenu" id="qkt-mobile-resources" data-toggle-class="active"
                    data-target="qkt-mobile-resources">
                    <span class="qkt-flex qkt-justify-content-between">Resources <i
                                class="icon-qkt-chevron-down qkt-p-1"></i></span>
                </li>
                <li class="submenu" id="qkt-mobile-company" data-toggle-class="active" data-target="qkt-mobile-company">
                    <span class="qkt-flex qkt-justify-content-between">Company <i
                                class="icon-qkt-chevron-down qkt-p-1"></i></span>
                    <ul>
                        <li>Join our Team</li>
                        <li>Contact Us</li>
                        <li>Privacy Policy</li>
                        <li>Terms &amp; Conditions</li>
                    </ul>
                </li>
            </ul>
            <div class="qkt-social qkt-pt-2" style="border-top: 1px solid #c0c0c0">
                <div class="qkt-p-2">
                    <h6 class="qkt-m-0 qkt-subtitle-1">Follow Us</h6>
                    <span class="qkt-mt-3" style="line-height: 2.5rem">
                                <span class="icon-qkt-social-ln qkt-green qkt-mr-4"></span>
                                <span class="icon-qkt-social-twitter qkt-green qkt-mr-4"></span>
                                <span class="icon-qkt-social-instagram qkt-green qkt-mr-4"></span>
                                <span class="icon-qkt-social-fb qkt-green"></span>
                            </span>
                </div>
            </div>
            <button class="qkt-button qkt-mt-5 qkt-bg-green qkt-white">SIGN IN</button>
        </div>
    </div>
</nav>
