<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="/" class="back">
                <svg class="hidden-more-sm" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M11.7955 5.2045C12.2348 5.64384 12.2348 6.35616 11.7955 6.7955L7.71599 10.875H19C19.6213 10.875 20.125 11.3787 20.125 12C20.125 12.6213 19.6213 13.125 19 13.125H7.71599L11.7955 17.2045C12.2348 17.6438 12.2348 18.3562 11.7955 18.7955C11.3562 19.2348 10.6438 19.2348 10.2045 18.7955L4.2045 12.7955C3.99353 12.5845 3.875 12.2984 3.875 12C3.875 11.7016 3.99353 11.4155 4.2045 11.2045L10.2045 5.2045C10.6438 4.76516 11.3562 4.76517 11.7955 5.2045Z"
                          fill="#485868"/>
                </svg>
                <img src="/assets/images/icons/logo.svg" class="logo hidden-less-sm" width="169" height="48"
                     alt="Quicket"/>
            </a>
            <h2 class="header-title text-truncate hidden-more-sm">{{title}}</h2>
            <nav class="header-navbar hidden-less-sm">
                <ul class="header-navbar-list list-style-reset">
                    <li class="header-navbar-item">
                        {% Button children="Login", state="primary", type="button" %}
                    </li>
                    <li class="header-navbar-item">
                        <div class="header-dropdown">
                            <button type="button" class="header-navbar-link header-dropdown-btn">
                                <span class="text-truncate">CUSTOMER@gmail.com</span>
                            </button>
                            <ul class="header-dropdown-list list-style-reset">
                                <li class="header-dropdown-item header-dropdown-header">
                                    <a class="header-navbar-link" href="{{tickets.path}}">My Tickets</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a class="header-navbar-link" href="#">Create Event</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a class="header-navbar-link" href="{{ events.path }}">saved events</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a class="header-navbar-link" href="{{ commission.path }}">EARN COmission</a>
                                </li>
                                <li class="header-dropdown-item">
                                    <a class="header-navbar-link" href="{{account.path}}">My Account</a>
                                </li>
                                <li class="header-dropdown-item header-dropdown-footer">
                                    <a class="header-navbar-link" href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
