{% import "./_macros/_header.njk" as header_macro %}

<header class="header">
    <div class="container">
        <div class="header-inner">
            <a href="/" class="back">
                {% BackIcon className="hidden-more-sm" %}
                <img src="/assets/images/icons/logo.svg" class="logo hidden-less-sm" width="169" height="48"
                     alt="Quicket"/>
            </a>
            <h2 class="header-title text-truncate hidden-more-sm">
                {% if header_layout === "account" %}
                    {{ title }}
                {% else %}
                    <img src="/assets/images/icons/logo.svg" class="logo hidden-more-sm" width="169" height="48"
                         alt="Quicket"/>
                {% endif %}
            </h2>
            <nav class="header-navbar hidden-less-sm">
                <ul class="header-navbar-list list-style-reset">
                    {% if header_layout === "account" %}
                        {{ header_macro.menu_item(header.menu.account) }}
                    {% else %}
                        {% Input type="search", id="filter_search", children='<img alt="" src="/assets/images/icons/Search.svg"
                                                                        width="20" height="20"
                                                                        class="form-input-icon">',
                            rest={placeholder: "Rock Event"} %}
                        {%- for key, value in header.menu -%}
                            {% if key !== "account" %}
                                {{ header_macro.menu_item(value) }}
                            {% endif %}
                        {% endfor %}
                        {% if header_layout === "login" %}
                            <li class="header-navbar-item">
                                {% Button children="CREATE EVENT", state="primary", type="button" %}
                            </li>
                            {{ header_macro.menu_item(header.menu.account) }}
                        {% else %}
                            <li class="header-navbar-item">
                                {% Button children="Login", state="primary", type="button" %}
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
