<div class="alert">
    <div class="alert-img">
        <img src="/assets/images/icons/u_exclamation-triangle.svg"/>
    </div>
    <p class="alert-text vw-h4">You have not linked your bank account yet. Link your account in order for<br
                class='hidden-less-sm'> your comission payments to go through.</p>
    {% Button children="LINK BANK ACCOUNT", state="secondary", type="button", rest={toggle: "modal", target: "add_bank_account_modal"} %}
</div>
