<div class="products">
    <div class="products-list grid grid-col-5 grid-col-fill">
        {%- for item in products -%}
            {% CardProduct type="card-product", img=item.img, title=item.title, desc=item.desc, date=item.date, time=item.time %}
        {%- endfor -%}
    </div>
</div>
