{% if tabs.length > 1 %}
    <nav class="tabs-navbar">
        <ul class="tabs-list list-style-reset" data-tablist>
            {%- for tab in tabs -%}
                <li class="tabs-item">
                    <a href="#" class="tabs-link {{ 'tabs-link-active' if loop.index === 1 }}"
                       data-tab="{{ tab.panel.title|replace(' ', '_') }}">
                        <span class="text-truncate">{{ tab.title }}</span>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    </nav>
{% endif %}
<div class="tabs-content">
    {%- for tab in tabs -%}
        <div id="{{ tab.panel.title|replace(' ', '_') }}" class="tabs-panel"
             data-panel="{{ tab.panel.title|replace(' ', '_') }}" {{ "hidden" if loop.index > 1 }}>
            <div class="section-header">
                {% if breadcrumbs %}
                    {% Breadcrumbs parent=account, current=title %}
                {% endif %}
                <h1 class="section-title">{{ tab.panel.title }}</h1>
                {% if tab.panel.desc %}
                    <p class="section-desc">
                        {{ tab.panel.desc | safe }}
                    </p>
                {% endif %}
            </div>
            {% if tab.panel.enableFilter %}
                {% set filter=tab.panel.title|replace(' ', '_') %}
                {% include "./filter.njk" %}
            {% endif %}
            <div class="section-content">
                {% include "./tabs-content.njk" %}
            </div>
        </div>
    {%- endfor -%}
</div>
