{% macro catalog(type="", title="", config={}) %}
    {% set id = title|replace(' ', '_') %}
    {% set title = "Filter "+title %}

    <div class="products-search filter">
        <div class="filter-form form form-api">
            <fieldset class="form-fieldset">
                <div class="has-input">
                    {% Input type="search", id=id+"_filter_search", children='<img alt="" src="/assets/images/icons/Search.svg"
                                                                        width="20" height="20"
                                                                        class="form-input-icon">',
                        rest={placeholder: "Search"} %}
                </div>
                <button class="filter-btn" type="button" data-toggle="modal" data-target="{{ id }}_filter_modal">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0.9375 3.75C0.419733 3.75 0 4.16974 0 4.6875C0 5.20526 0.419733 5.625 0.9375 5.625H19.0625C19.5802 5.625 20 5.20526 20 4.6875C20 4.16974 19.5802 3.75 19.0625 3.75H0.9375ZM3.75 9.6875C3.75 9.16974 4.16974 8.75 4.6875 8.75H15.3125C15.8302 8.75 16.25 9.16974 16.25 9.6875C16.25 10.2053 15.8302 10.625 15.3125 10.625H4.6875C4.16974 10.625 3.75 10.2053 3.75 9.6875ZM7.5 14.6875C7.5 14.1698 7.91974 13.75 8.4375 13.75H11.5625C12.0803 13.75 12.5 14.1698 12.5 14.6875C12.5 15.2052 12.0803 15.625 11.5625 15.625H8.4375C7.91974 15.625 7.5 15.2052 7.5 14.6875Z"
                              fill="#485868"/>
                    </svg>
                </button>
            </fieldset>
        </div>
    </div>

    <div class="products-filter modal" data-filter="products" data-modal="{{ id }}_filter_modal">
        <div class="modal-dialog">
            {% include "../header.html" %}
            <form id="{{ id }}_filter" class="products-filter-form form" data-filter="form" method="GET"
                  action="">
                <fieldset class="products-filter-item form-fieldset">
                    <legend class="products-filter-legend vw-h4">
                        <span>Upcoming Events</span>
                    </legend>
                    {% set item_id = "Upcoming Events__Dates"|replace(' ', '_') %}
                    {% Input id=item_id, label="Dates", rest={options: config["Upcoming Events"][0]["Dates"]} %}
                    <div class="form-group">
                        <button class="products-filter-btn btn" type="button" data-filter="date">
                            Select Custom Dates
                        </button>
                    </div>
                </fieldset>
                {% for filter_label, filter_items in config %}
                    {% if filter_label !== "Upcoming Events" %}
                        <fieldset class="products-filter-item form-fieldset">
                            <legend class="products-filter-legend vw-h4">
                                <span>{{ filter_label }}</span>
                                <button class="products-filter-btn btn" type="button" data-filter="reset">Clear
                                    All
                                </button>
                            </legend>
                            {% for item in filter_items %}
                                {% set item_id = filter_label+"__"+item|replace(' ', '_') %}
                                {% Checkbox id=item_id, name=item_id, label=item %}
                            {% endfor %}
                            <div class="form-group">
                                <button class="products-filter-btn btn" type="button" data-filter="expand">
                                    See More
                                </button>
                            </div>
                        </fieldset>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>

{% endmacro %}
