---
layout: invoice.njk
title: "ROCKING THE DAISIES - CAPE TOWN (Fri 7th Oct 08:00 - Sun 9th Oct 2022 16:00)"
description: ""
breadcrumbs: false
---

<div class="section-content block-bordered invoice-content">
    <h2>{{ title }}</h2>
    <p class="invoice-title">
        <span>2 x Phase 1 - General Camping Three (R295)</span>
        <span class="text-truncate">R590</span>
    </p>
    <p class="vw-text-bold invoice-title">
        <span>Sub Total</span>
        <span class="text-truncate">R590</span>
    </p>
</div>
<div class="section-content block-bordered invoice-content">
    <h2 class="invoice-title">
        <span>Quicket</span>
        <span>VAT No: 4410267548</span>
    </h2>
    <p class="invoice-title">
        <span>Service Fee</span>
        <span class="text-truncate">R8.69</span>
    </p>
    <p class="invoice-title">
        <span>VAT (15%)</span>
        <span class="text-truncate">R1.31</span>
    </p>
    <p class="vw-text-bold invoice-title">
        <span>Sub Total</span>
        <span class="text-truncate">R10</span>
    </p>
</div>
