---
layout: tabs.html
title: Request A Refund
description: "Please select the tickets below you wish to cancel and refund."
breadcrumbs: true,
footer: '
<p class="deactivate"
   style="display: block; font-size: 16px; color: #94A3B8;text-align: center; margin-top: 60px;margin-bottom: 120px;">
    Note: All refunds are subject to a 4.9% cancellation fee (ex VAT) on the value of the tickets being<br
            class="hidden-less-sm"/> cancelled and any purchase service fee paid is non-recoverable, as per our terms
    and conditions.<br class="hidden-less-sm"/> By requesting a refund you consent to agree to the cancellation charges.
</p>
'
---
<style>
    .tabs-panel-grid {
        --gap: min(4.2666666667vw, 1.1428571429rem) min(4.2666666667vw, 1.1428571429rem);
    }
</style>
<form id="refund_request" method="POST" action="">
    {% set tabs = ticketdetails.actions[4].tabs %}
    {% include "../../_includes/tabs.njk" %}
    <div class="tabs-content">
        {% Checkbox id="refund_request_confirm", label="I confirm that I want to be refunded for these tickets and that the refund<br /> is irreversible. I am aware of the fees involved as described above." %}
    </div>
    <div class="form-footer">
        <div class="container">
            {% Button children="CANCEL TICKETS", state="disabled", type="submit" %}
        </div>
    </div>
</form>
