<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../_includes/head.njk" %}
    {% block head %}
    <link rel="stylesheet" href="/assets/styles/styles.css"/>
    <link rel="stylesheet" href="/assets/styles/themes/page-account.css"/>
    {% endblock %}
</head>

<body class="page-account">
<div class="wrapper">
    {% set header_layout = "account" %}
    {% include "../_includes/header.njk" %}

    <main class="content">
        <section class="section">
            <div class="container-sm">
                <div class="section-inner">
                    {% if title %}
                        <div class="section-header">
                            {% if breadcrumbs %}
                                {% Breadcrumbs parent=account, current=title %}
                            {% endif %}
                            <h1 class="section-title">{{title}}</h1>
                            {% if description %}
                                <p class="section-desc">{{description | safe}}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="section-content">
                        {{content | safe}}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% block footer %}
    {% if footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                {{ footer|safe }}
            </div>
        </div>
    </footer>
    {% endif %}
    {% endblock %}
</div>

{% include "../_includes/scripts.html" %}
{% block scripts %}{% endblock %}
</body>

</html>

