{% extends "./default.njk" %}
{% import "../_includes/_macros/_filters.njk" as filters %}
{% set products = events.data %}
{% block header %}
    {{ super() }}
{% endblock %}
{% block section_content %}
    <div class="section-content">
        <div class="catalog">
            <div class="catalog-sidebar">
                <div class="products">
                    {{ filters.products(title=events.catalog.title, config=events.filters) }}
                </div>
            </div>
            <div class="catalog-content">
                <p class="catalog-filter-results vw-h4">{{ products.length }} Results Found</p>
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/assets/js/products.bundle.js"></script>
{% endblock %}