{% extends "./default.njk" %}
{% import "../_includes/_macros/_filters.njk" as filters %}
{% block head %}
    <link rel="stylesheet" href="/assets/styles/qkt-events-catalog.min.css"/>
{% endblock %}
{% set products = events.data.data %}
{% block header %}
    {% set header_layout = "logout" %}
    {% include "../_includes/header.njk" %}
{% endblock %}

{% block section_content %}
    <div class="section-content">
        <div class="catalog">
            <div class="catalog-sidebar">
                <div class="products">
                    {{ filters.products(title=events.data.catalog.title, config=events.data.filters) }}
                </div>
            </div>
            <div class="catalog-content">
                <p class="catalog-filter-results vw-h4">{{ products.length }} Results Found</p>
                {{ content | safe }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "../_includes/footer.njk" %}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/assets/js/qkt-events-catalog.min.js"></script>
{% endblock %}
