<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../_includes/head.njk" %}
    {% block head %}
        <link rel="stylesheet" href="/assets/styles/styles.css"/>
    {% endblock %}
</head>

{% set header_layout = "account" %}

<body class="{{ body_class }}">
<div class="wrapper">
    {% block header %}
        {% include "../_includes/header.njk" %}
    {% endblock %}

    <main class="content">
        {% block content %}
            <section class="section">
                <div class="container">
                    <div class="section-inner">
                        {% if title %}
                            <div class="section-header">
                                {% if breadcrumbs %}
                                    {% Breadcrumbs parent=account, current=title %}
                                {% endif %}
                                <h1 class="section-title">{{ title }}</h1>
                                {% if description %}
                                    <p class="section-desc">{{ description | safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% block section_content %}
                            <div class="section-content">
                                {{ content | safe }}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </section>
        {% endblock %}
    </main>

    {% block footer %}
        {% if footer %}
            <footer>
                <div class="container">
                    {{ footer|safe }}
                </div>
            </footer>
        {% endif %}
    {% endblock %}
</div>

{% block scripts %}
    {% include "../_includes/scripts.html" %}
{% endblock %}
</body>

</html>

