<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "../_includes/head.njk" %}
        {% block head %}
            <link rel="stylesheet" href="/assets/styles/styles.css"/>
            <link rel="stylesheet" href="/assets/styles/themes/page-account.css"/>
        {% endblock %}
    </head>
    <body class="page-tabs">
        <div class="wrapper">
            {% set header_layout = "account" %}
            {% include "../_includes/header.njk" %}
            <main class="content">
                <section class="section tabs">
                    <div class="container">
                        <div class="section-inner">
                            {{ content | safe }}
                        </div>
                    </div>
                </section>
            </main>
            {% block footer %}
            {% if footer_desc %}
            <footer>
                <div class="container">
                    {{ footer_desc|safe }}
                </div>
            </footer>
            {% endif %}
            {% endblock %}
        </div>
        {% include "../_includes/scripts.html" %}
        {% block scripts %}{% endblock %}
    </body>
</html>
