<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../_includes/head.njk" %}
    {% block head %}
    {% endblock %}
</head>

<body class="page-account page-ticket-details">
<div class="wrapper">
    {% block header %}
        {% set header_layout = "account" %}
        {% include "../_includes/header.njk" %}
    {% endblock %}

    <main class="content">
        <section class="section section-hero">
            <div class="container">
                <div class="section-inner">
                    <div class="section-hero-banner has-img-fit img-holder">
                        {% if ticketdetails.data.image %}
                            {% Picture src="/assets/images/tickets/"+ticketdetails.data.image,
                                srcSet="/assets/images/tickets/"+ticketdetails.data.imageMobile,
                                className="img-bg has-img-fit",
                                text=ticketdetails.data.title %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container-sm">
                <div class="section-inner">
                    <div class="section-header block-bordered">
                        {% if breadcrumbs %}
                            {% Breadcrumbs parent=account, current=title if breadcrumbs %}
                        {% endif %}
                        {% Tag tag=ticketdetails.data.tag, status=ticketdetails.data.status %}
                        <h1 class="section-title">{{ ticketdetails.data.title }}</h1>
                        {% if ticketdetails.data.desc %}
                            <div class="section-desc">
                                {%- for key, value in ticketdetails.data.desc -%}
                                    <p class="section-desc-item">
                                        <span class="vw-text-bold">{{ key }}:</span> {{ value }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="section-content block-bordered">
                        {{ content | safe }}
                    </div>

                    <div class="section-content section-footer block-bordered">
                        <div class="section-title vw-h1">Have Questions?</div>
                        <p class="vw-text-bold">Contact the organiser about the event:</p>
                        <div class="actions grid grid-col-2">
                            <a href=""
                               title="Send Message">{% Card img="icons/sms.svg", title="Send Message", type="card-minimal" %}</a>
                            <a href=""
                               title="Visitor Help Center">{% Card img="icons/Question.svg", title="Visitor Help Center", type="card-minimal" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="form-footer">
            <div class="container">
                {% Button children="VIEW TICKET DETAILS", state="invert", type="button" %}
                {% Button children="VIEW TICKET PDF", state="primary", type="button" %}
            </div>
        </div>
    </main>

    {% block footer %}
    {% endblock %}
</div>

{% include "../_includes/scripts.njk" %}
{% block scripts %}{% endblock %}
</body>

</html>

