---
layout: account.html
title: Earn Comission
description: "Explore the way you can earn a comission through Quicket."
footer_desc: '
<p style="display: block; color: #64748B; text-align: center;">
    By using the getting involved in either two of the above, you agree to<br class="hidden-less-sm"/> the Quicket <a
            href="#">terms and conditions</a>.
</p>
'
---

<div class="actions grid grid-col-2">
    {%- for key, value in commission.data.actions -%}
        <a href="{{ value.link }}">{% Card img=value.img, title=value.title, desc=value.desc, type="card-minimal" %}</a>
    {%- endfor -%}
</div>
