---
layout: default.njk
title: 'Promoter Networks - empty'
description: 'Promoter networks are created by event organisers to help spread the word<br class="hidden-less-sm"> about their events.'
breadcrumbs: true
---
{% import "../../_includes/macros/_contentholder.html" as macros %}
{% set placeholder=commission.actions.networks.placeholder %}
{{ macros.contentholder(placeholder.img, placeholder.title, placeholder.desc, enableButton, placeholder.footer) }}
