<fieldset class="products-filter-item form-fieldset" data-filter-element="{{ filter_label|replace(' ', '_') }}">
    {% set events_label="Upcoming Events" %}

    <div class="products-filter-legend vw-h4">
        <span>{{ filter_label }}</span>

        {% if filter_label!==events_label %}
            <button class="products-filter-btn btn hidden-less-sm" type="button" data-filter-reset="true">
                Clear All
            </button>
        {% endif %}
        <svg class="arrow hidden-more-sm" width="24" height="24" viewBox="0 0 24 24" fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z"
                  fill="#485868"/>
        </svg>
    </div>
    <div class="products-filter-content">
        {% for item, item_data in filter_items %}
            {% set item_id = filter_label+"__"+item|replace(' ', '_') %}

            {% if item_data.length %}
                <div>
                    {% Input id=item_id, label=item, rest={options: item_data} %}

                    {% if filter_label===events_label %}
                        <div class="form-group">
                            <button class="products-filter-btn btn" type="button" data-filter-date="true">
                                Select Custom Dates
                            </button>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="form-group">
                    {% Checkbox id=item_id, name=item_id, label=item %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="form-group hidden">
        <button class="products-filter-btn btn" type="button" data-filter-expand="true">
            See More
        </button>
    </div>
</fieldset>
