.catalog {
    --width: 1170px;
    --filter-width: 355px;
    --gap: 24px 40px;
    width: min(100%, var(--width));
    display: grid;
    grid-template-columns: var(--filter-width) 1fr;
    grid-template-areas: "sidebar content";
    gap: var(--gap);
    margin: 0 auto;

    &-sidebar {
        grid-area: sidebar;
    }

    &-content {
        grid-area: content;
        position: relative;
    }

    @include less-sm() {
        grid-template-columns: 1fr;
        grid-template-areas: "sidebar sidebar" "content content";
    }
}
