.grid {
    --gap: #{getMinMax(16px, 16px)} #{getMinMax(16px, 16px)};

    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--gap);

    &[class*="grid-col"] {
        grid-template-columns: repeat(var(--col-adapt, auto-fit), minmax(min(100%, var(--column-width, 100%)), 1fr));
    }

    &-col-2 {
        --col: 2;
        --column-width: 366px;
        --gap: #{getMinMax(16px, 16px)} #{getMinMax(16px, 16px)};
    }

    &[class*="grid-col-fixed"] {
        grid-template-columns: repeat(var(--col), 1fr);
    }

    &-col-4 {
        --col: 4;
        --column-width: 276px;
        --gap: #{getMinMax(24px, 24px)} #{getMinMax(24px, 48px)};
    }

    &-col-fill {
        --col-adapt: auto-fill;
    }

    &-col-span {
        grid-column: span var(--col);
    }

    &.actions {
        --width: 750px;
        .container-sm & {
            width: min(getvw(366px - ($base-container-margin-x-sm * 2)), var(--width));

            @include less-sm() {
                width: 100%;
            }
        }
    }

    @include less-sm() {
        &.actions {
            --gap: 0;
        }
    }
}
