%container {
    --margin-x: #{getMinMax($base-container-margin-x-sm * 2, $base-container-margin-x * 2)};
    --width: 100% - var(--margin-x);

    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.container {
    @extend %container;

    width: Min(var(--width), #{getrem($base-container)});

    &-sm {
        @extend %container;

        width: max-content;
        padding: 0 getMinMax($base-container-margin-x-sm, $base-container-margin-x);

        @include less-sm() {
            width: 100%;
        }
    }
}

.section {
    position: relative;

    &-header {
        padding-top: getMinMax(25px, 32px);
        padding-bottom: getMinMax(10px, 32px);
    }

    &-content {
        padding-top: getMinMax(25px, 32px);
        padding-bottom: getMinMax(25px, 32px);
    }

    &-title {
        margin-bottom: getMinMax(4px, 32px);
    }

    @include less-sm() {
        &-banner {
            padding-top: getMinMax(10px, 10px);
            padding-bottom: getMinMax(25px, 25px);
        }
    }

    @include less-xs() {
        &.has-slider {
            .container {
                width: 100%;
            }
        }
    }
}

@include less-sm {
    .container {
        max-width: 100%;
    }
}
