.form-api {
    --gap: 10px;
    --width: 764px;
    --footer-min-height: 0;

    background-color: #FFFFFF;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 32px 16px;
    margin-left: auto;
    margin-right: auto;

    &>.form-fieldset {
        --gap: 16px;

        display: flex;
        flex-wrap: wrap;
        align-items: start;
        gap: var(--gap);

        & > [type="submit"] {
            --min-width: #{getMinMax(211px, 211px)};
            flex: 1 0 auto;
        }

        & > [type="button"] {
            --min-width: 48px;
        }

        & > .has-input {
            flex: 1 1 55%;
        }
    }

    .form-input-icon {
        right: auto;
        left: getMinMax(14px, 14px);
    }

    input {
        --bg-color: var(--color-grey);
        font-weight: 500;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 40px;
    }

    @include less-sm() {
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
    }
}
