.form {
    $font-size: 16px;

    &-label {
        color: var(--color-text-body);
        font-family: var(--font-main);
        font-style: normal;
        font-weight: 500;
        font-size: calc(14px/$base)*1em;
        line-height: calc(16px/$base)*1em;
    }

    &-input {
        position: relative;
        font-size: $font-size;

        &-icon {
            position: absolute;
            top: 50%;
            right: calc(10px/$font-size)*1em;
            transform: translate(0, -50%);
            width: calc(20px/$font-size)*1em;
            height: calc(20px/$font-size)*1em;
            z-index: 10;
        }

        &-field {
            @include input-field();

            @include input-placeholder {
                color: var(--color-text-body);
                font-weight: 400;
            }


            &:focus:invalid {
                border-color: var(--color-error);

                & ~ .error-msg {
                    display: block;
                }

                & ~ .form-input-icon path {
                    fill: var(--color-error);
                }
            }

            &[type="search"] {
                --bg-color: var(--color-grey);
                font-weight: 400;
                border: 1px solid rgba(255, 255, 255, 0.5);
                padding-left: 40px;

                & + .form-input-icon {
                    right: auto;
                    left: getMinMax(14px, 14px);
                }
            }
        }
    }

    &-checkbox,
    &-radio {
        display: inline-flex;
        gap: 16px;
        align-items: flex-start;
        align-self: flex-start;
        font-family: var(--font-main);
        font-style: normal;
        font-weight: 400;
        font-size: getMinMax(16px, $font-size);
        line-height: calc(18px/$font-size)*1em;
        letter-spacing: 0.0015em;
        color: var(--color-text-body);
        cursor: pointer;

        *,
        *:after {
            transition: all 0.1s linear;
        }

        svg {
            flex: 0 0 calc(18px/$font-size)*1em;
            width: calc(18px/$font-size)*1em;
            height: calc(18px/$font-size)*1em;
        }
    }

    &-checkbox {
        input {
            position: absolute;
            width: 1em;
            height: 1em;
            opacity: 0.00001;

            &:checked + svg {
                .checkbox__background {
                    fill: var(--color-green);
                    stroke: var(--color-green);
                }

                .checkbox__checkmark {
                    stroke: #FFFFFF;
                }
            }
        }

        &-toggle {
            display: flex;
            align-items: center;
            gap: var(--gap);
            font-size: $font-size;

            input {
                display: none;
            }

            label {
                --bg-color: var(--color-grey);
                --bg-color-a: var(--color-disabled);
                position: relative;
                display: block;
                Width: 36px;
                Height: 14px;
                background-color: var(--bg-color);
                border-radius: 50px;
                cursor: pointer;

                &::after {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 20px;
                    height: 20px;
                    background-color: var(--bg-color-a);
                    content: "";
                    border-radius: 100%;
                    transition: background-color 200ms linear,
                    transform 200ms ease-in-out 100ms;
                }
            }

            input:checked ~ label {
                --bg-color: rgba(94, 183, 0, 0.2);
                --bg-color-a: var(--color-green);

                &::after {
                    transform: translate3d(-16px, 0, 0);
                }
            }
        }
    }

    &-radio {
        --font-size-unit: 16;
        --border-color: var(--color-text-body);
        --bg-color: transparent;
        --border-color-active: var(--color-green);
        --bg-color-active: var(--color-green);
        --size: 20;
        line-height: calc(calc(var(--size) / var(--font-size-unit)) * 1em);

        input[type="radio"] {
            @include input-radio(var(--font-size-unit));
            flex: 0 0 calc(calc(var(--size) / var(--font-size-unit)) * 1em);
        }
    }

    .error-msg {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        display: none;
        color: var(--color-error);
        font-family: inherit;
        font-size: calc(12px / $font-size) * 1em;
        margin-top: 12px;
    }

    @include less-sm {
        &-radio {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 8px 8px 8px 24px;
        }
    }
}
