.card {
    --flex-dir: column;
    --gap: 34px;
    --border-radius: 8px;
    --text-color: var(--color-text-body);
    --bg-color: #FFFFFF;

    position: relative;
    display: flex;
    flex-direction: var(--flex-dir);
    gap: var(--gap);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--color-grey);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: var(--border-radius);
    padding: 20px 16px;
    overflow: hidden;
    transition: 180ms ease-in-out;
    transition-property: color, background, border;

    &:hover {
        --text-color: var(--color-green);
        --bg-color: rgba(94, 183, 0, 0.2);
    }

    &-img {
        width: getMinMax(20px, 32px);
        height: getMinMax(20px, 32px);

        img {
            width: 100%;
        }
    }

    &-body {
        flex: 1;
    }

    &-title,
    &-desc,
    &-body {
        @include truncate();
    }

    &-title {
        color: var(--text-color);
        transition: 180ms ease-in-out;
        transition-property: color, background, border;
    }

    &-link {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:after {
            display: block;
            width: calc(16 / 14)*1em;
            height: calc(16 / 14)*1em;
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 8.5H13.5' stroke='%235EB700' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 4L13.5 8.5L9 13' stroke='%235EB700' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    &-footer {
        margin-top: auto;
    }

    strong {
        font-weight: 500;
    }
}

