@import "../utilities";

.page-account {
    footer {
        padding-bottom: getMinMax(25px, 80px);
        padding-top: getMinMax(25px, 80px);
    }

    @include less-sm() {
        --body-bg-color: #ffffff;
    }
}
