<!DOCTYPE html>
<html lang="en">

<head>
    {% include "../../_includes/head.njk" %}
    {% block head %}
        <link rel="stylesheet" href="/assets/styles/index.css"/>
    {% endblock %}
</head>

<body>
<div class="wrapper">
    <div class="section">
        <div class="container">
            <div class="section-inner">
                <div class="section-header">
                    <h1>Header</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section hidden-less-sm">
        <div class="container">
            <div class="section-inner">
                <div class="section-content">
                    <h2>Homepage - Not Logged In</h2>
                </div>
            </div>
        </div>
    </div>
    {% set header_layout = "logout" %}
    {% set title = "Homepage - Not Logged In" %}
    {% include "../../_includes/header.njk" %}
    <div class="section hidden-less-sm">
        <div class="container">
            <div class="section-inner">
                <div class="section-content">
                    <h2>Homepage - Customer Logged In</h2>
                </div>
            </div>
        </div>
    </div>
    {% set header_layout = "login" %}
    {% set title = "Homepage - Customer Logged In" %}
    {% include "../../_includes/header.njk" %}
    <div class="section hidden-less-sm">
        <div class="container">
            <div class="section-inner">
                <div class="section-content">
                    <h2>My Account - Organiser Portal</h2>
                </div>
            </div>
        </div>
    </div>
    {% set header_layout = "account" %}
    {% set title = "My Account - Organiser Portal" %}
    {% include "../../_includes/header.njk" %}
    <div class="section">
        <div class="container">
            <div class="section-inner">
                <div class="section-header">
                    <h1>Footer</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-inner">
                <div class="section-content">
                    <h2>Browse Events</h2>
                </div>
            </div>
        </div>
    </div>
    {% include "../../_includes/footer.njk" %}
</div>

{% block scripts %}
    {% include "../../_includes/scripts.html" %}
{% endblock %}
</body>

</html>
