---
layout: account.njk
title: Password
description: "Name, Surname, Email, etc."
breadcrumbs: true
---
<form class="form" id="account_password" method="POST" action="">
    <fieldset class="form-fieldset grid grid-col-2">
        {% Input type="password", id="account_password_Old", label="Old Password", children='<img alt="" src="/assets/images/icons/Eye.svg" width="20" height="20" class="form-input-icon">', rest={required: true} %}
        {% Input type="password", id="account_password_New", label="New Password", rest={required: true} %}
        {% Input type="password", id="account_password_Confirm", label="Confirm New Password", rest={required: true} %}
    </fieldset>
    <div class="form-footer">
        <div class="container">
            {% Button children="SAVE CHANGES", state="disabled", type="submit" %}
        </div>
    </div>
</form>


