---
layout: tabs.html
title: 'Payments & Payouts'
---

{% import "../../_includes/_macros/_contentholder.html" as macros %}
<nav class="tabs-navbar">
    <ul class="tabs-list list-style-reset" data-tablist>
        {%- for tab in account.data.actions[4].tabs -%}
            <li class="tabs-item">
                <a href="#" class="tabs-link {{ 'tabs-link-active' if loop.index === 1 }}"
                   data-tab="{{ tab.panel.title|replace(' ', '_') }}">
                    <span class="text-truncate">{{ tab.title }}</span>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
<div class="tabs-content">
    {%- for tab in account.data.actions[4].tabs -%}
        <div id="{{ tab.panel.title|replace(' ', '_') }}" class="tabs-panel"
             data-panel="{{ tab.panel.title|replace(' ', '_') }}" {{ "hidden" if loop.index > 1 }}>
            <div class="section-header">
                {% Breadcrumbs parent=account, current=title %}
                <h1 class="section-title">{{ tab.panel.title }}</h1>
                <p class="section-desc">{{ tab.panel.desc | safe }}</p>
            </div>
            <div class="section-content">
                {% if tab.panel.fake_methods %}
                    <div class="tabs-panel-grid grid grid-col-2 grid-col-fixed">
                        {%- for method in tab.panel.methods -%}
                            {% Card link=method.link, img=method.img, title=method.title, desc=method.desc, type="card-account" %}
                        {%- endfor -%}
                    </div>
                {% else %}
                    {{ macros.contentholder(tab.panel.placeholder.img, tab.panel.placeholder.title, tab.panel.placeholder.desc, tab.panel.enableButton, tab.panel.placeholder.footer) }}
                {% endif %}
            </div>
        </div>
    {%- endfor -%}
    {% Modal id="add_account_payments_modal", title="Add Bank Account", desc="Please enter your bank details below.", content="payments" %}
    {% Modal id="del_account_payments_modal", title="Are you sure?", desc="Please note your card and all its associated payment data will be permanently deleted and rendered unrecoverable", content="", className="modal-confirm" %}
</div>
