---
layout: base.html
title: Customer Account
---

<div class="section">
    <div class="container">
        <div class="section-inner">
            <div class="section-content">
                <h1>{{ title }}</h1>
                <ul>
                    <li>
                        <a href="/pages/_partials">Header/Footer</a>
                    </li>
                </ul>
                <ul>
                    <h2>pages:</h2>
                    <li>
                        <a href="https://aesthetic-lebkuchen-e8538c.netlify.app/login/signup">Sign Up</a>
                    </li>
                    <li>
                        <a href="https://aesthetic-lebkuchen-e8538c.netlify.app/login/signin">Sign In</a>
                    </li>
                    <li>
                        <a href="{{ account.data.path }}">{{ account.data.title }}</a>
                        <ul>
                            {% for action in account.data.actions %}
                                <li>
                                    <a href="{{ action.link }}">{{ action.name }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="/pages/account/payments-holder">payments-holder</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ tickets.path }}">{{ tickets.title }}</a>
                    </li>
                    <li>
                        <a href="/pages/registration">Edit Registration Information</a>
                    </li>
                    <li>
                        <a href="{{ ticketdetails.data.path }}">Ticket/Booking Details</a>
                        <ul>
                            {% for action in ticketdetails.data.actions %}
                                <li>
                                    <a href="{{ action.link }}">{{ action.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ events.data.path }}">{{ events.data.title }}</a>
                    </li>
                    <li>
                        <a href="{{ events.data.catalog.path }}">{{ events.data.catalog.title }}</a>
                    </li>
                    <li>
                        <a href="{{ commission.data.path }}">{{ commission.data.title }}</a>
                        <ul>
                            {% for key, value in commission.data.actions %}
                                <li>
                                    <a href="{{ value.link }}">{{ value.title }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{{ commission.data.actions.networks.details.path }}">{{ commission.data.actions.networks.details.title }}</a>
                            </li>
                            <li>
                                <a href="{{ commission.data.actions.networks.placeholder.link }}">{{ commission.data.actions.networks.title }}
                                    - empty</a>
                            </li>
                            <li>
                                <a href="{{ commission.data.actions.referrals.placeholder.link }}">{{ commission.data.actions.referrals.title }}
                                    - empty</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
