---
layout: default.njk
title: 'My Saved Events'
description: 'These are events you have previously favourited.'
breadcrumbs: false
body_class: "tabs"
---

{% set filter=title|replace(' ', '_') %}
{% set products = events.data.data %}

<div class="products">
    {% include "../../_includes/filter.njk" %}
    {% include "../../_includes/products/products-list.njk" %}
</div>
